.todo__alert--success {
    background-color: #d1e7dd;
    color:#0f5132 ;
    border-color: #badbcc;
    padding: 10px 30px;
}
.todo__alert--danger {
    background-color: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
    padding: 10px 0;
}
.todo__alert--danger ul {
    margin: 0;
}
.todo__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.section__title {
    margin: 0 auto;
    width: 70%;
}
.create-form ,
.search-form{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 70%;
    padding-bottom: 15px;

}
.create-form__item,
.search-form__item  {
    width: 70%;
    display: flex;
    

}
.create-form__item-input,
.search-form__item-input {
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    height: 40px;
    margin-right: 10px;
}
.create-form__item-select,
.search-form__item-select {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.create-form__button,
.search-form__button {
    width: 20%;
}
.create-form__button-submit,
.search-form__button-submit{
    width: 100%;
    padding: 10px;
    height: 40px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.todo-table {
    width: 70%;
    margin: 30px auto;
    text-align: left;
}       
.todo-table__inner {
    width: 100%;
}
.todo-table__row {
    border-bottom: 1px solid #ddd;
}
.todo-table__header {
    padding: 12px;
    width: 20%;
    font-weight: bold;
    text-align: left;
}
.todo-table__header-span {
    margin-right: 40%;
}
.todo-table__item:first-of-type {
   width: 90%;
   padding: 12px;
}
.update-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.update-form__item {
    width: 40%;
    line-height: 50%;
}
.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}
.update-form__item-p {
    text-align: left;
    font-size: 13px;
}
.update-form__button {
    width: 50px;
}
.update-form__button-submit {
    width: 100%;
    padding: 5px;
    background: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.delete-form__button {
    width: 50px;
}
.delete-form__button-submit {
    width: 100%;
    padding: 5px;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}